@import "../index.scss";

$n-image-size: 100px;
$n-radius: 50px;
$l-image-size: 110px;
$l-radius: 55px;


.Browser{
    background-color: $primary-background;
    color:$primary-color;
    padding: 10px;
    margin: 10px;

    h1{
        text-align: center;
        font-weight: 800;
    }
    img {
        width: $n-image-size;
        height: $n-image-size;
        background-color: white;
        border-radius: $n-radius;
        transition: all 0.2s ease-in-out;
        &:hover {
          width: $l-image-size;
          height: $l-image-size;
          border-radius: $l-radius;
        }
      }
    p{
        text-align: center;
        font-weight: 600;
    }
}
